#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

img{
    width: 200px;
    padding-left:40px;
}
#pages{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.page{
    padding: 16px;
}

#header-bar{
    background-color: #8eb19d;
    height: 50px;
}

#welcome{
    background-image: url("homepage-image.png");
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 #welcome-message{
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 70%;
 }

 #welcome-description{
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 80%;
    padding-left: 10%;
 }

 #welcome-message{
    padding: 30px;
    padding-left: 10%;
    width: 80%;
 }


 #ah{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
 }

 #book-appointment{
    width: 285px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #66b3ba;
    color: white;
    border-radius: 20px;
    height: 80px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
 }

 * {
    box-sizing: border-box;
  }
  
  .slider {
    width: 1200px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 400px;
    width: 1200px;
    margin-right: 50px;
    border-radius: 10px;
    background: #e2ebec;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
  }


  #slide-1-title{
    display:flex;
    flex-direction: row;
    font-size: 40px;
    align-items: center;
    padding-left: 10%;
    padding-top: 3%;
  }

  .thought-bubble{
    height: 90px;
    width: auto;
  }


  #slide-1-description{
    width: 80%;
    padding-left: 15%;
    font-size: 30px;
  }

  #meet-us-title{
    font-family: "Inter", sans-serif;
    font-size: 35px;
    margin-left:15%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #meet-us-circles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
  }
  .bubble{
    border-radius: 380px;
    color: white;
    background-color: #66b3ba;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }

  .bub-des{
    width: 280px;
  }

  .bub-t{
    font-size: 31px;
    padding-top: 28px;
    padding-bottom: 18px;
  }

  .bub-b{
    padding-top: 50px;
    font-size: 25px;
  }

  #bottom-bar{
    background-color: #8eb19d;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 30px;
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
  }