a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
 * {
    box-sizing: border-box;
  }
  
#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 17px;
    padding-top: 25px;
}

img{
    width: 250px;
    padding-left:40px;
}
#pages{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transform: transition .2s;
}

.page:hover{
    color: gray;
    transform: scale(1.1);
}

.page:active{
    color: rgb(163, 160, 160);
    transform: scale(1.2);
}

.page{
    padding: 16px;
}

#header-bar{
    background-color: #8eb19d;
    height: 50px;
}

#welcome{
    background-image: url("homepage-image.png");
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;

}
 #welcome-message{
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 70%;
 }

 #welcome-description{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 70%;
    padding-left: 10%;
 }

 #welcome-message{
    padding: 30px;
    padding-left: 10%;
    width: 80%;
 }


 #ah{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
 }

 #book-appointment{
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #66b3ba;
    color: white;
    border-radius: 20px;
    height: 65px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
 }

 #book-appointment:hover{
    background-color: #88b6ba;
 }

 #book-appointment:active{
    background-color: #94b1b4;
 }

 
  .slider {
    width: 1000px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 350px;
    width: 1000px;
    margin-right: 50px;
    border-radius: 10px;
    background: #e2ebec;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
  }


  #slide-1-title{
    display:flex;
    flex-direction: row;
    font-size: 32px;
    align-items: center;
    padding-left: 12%;
    padding-top: 3%;
  }

  .thought-bubble{
    height: 90px;
    width: auto;
  }


  #slide-1-description{
    width: 80%;
    padding-left: 22%;
    font-size: 20px;
  }

  #meet-us-title{
    font-family: "Inter", sans-serif;
    line-height: 2;
    font-size: 29px;
    margin-left:15%;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  #meet-us-circles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 80px;
  }
  .bubble{
    border-radius: 380px;
    color: white;
    background-color: #66b3ba;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }

  .bub-des{
    width: 250px;
    font-size: 18px;
  }

  .bub-t{
    font-size: 27px;
    padding-top: 28px;
    padding-bottom: 18px;
  }

  .bub-b{
    padding-top: 70px;
    font-size: 25px;
    transition: transform .2s;
  }

  .bub-b:hover{
    opacity: 0.8; 
    transform: scale(1.1);
  }

  .bub-b:active{
    opacity: 0.5;
    transform: scale (1.2);
  }

  #bottom-bar{
    background-color: #8eb19d;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 30px;
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
  }

  .box{
    background-color: #e2ebec;
    border-radius: 15px;
    margin:30px;
    margin-right:120px;
    margin-left:120px;
    padding: 30px;
    padding-left: 60px;
    font-family: 'Inter', sans-serif;
  }

  .page-title{
    font-size: 30px;
  }

  .writing{
    font-size: 19px;
    width: 800px;
    padding-bottom: 20px;
  }

  .box-title{
    font-size: 22px;
    padding-bottom: 20px;
  }

#appointment-comment{
    width: 400px;
}

#appointment-form{
    width: 550px;
}

#appointment-box{
    display:flex;
    flex-direction: row;
}

.blank{
    height: 43px;
    background-color: white;
    border-radius:18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 350px;
    margin-top: 10px;
    margin-bottom: 17px;
}

#checkbox{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

#verification{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#send{
    background-color: #66b3ba;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: white;
    font-size: 18px;
    margin-left: 80px;
}

#appointment-comment{
    display:flex;
    flex-direction: column;
    font-size: 23px;
    padding-top: 53px;
}

#hu{
    padding-bottom: 50px;
}

#troubleshooting{
    background-color: #66b3ba;
    color:white;
}

#times{
    width: 800px;
}